/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

main {
  max-width: 1300px;
  margin: 0 auto;
}
.logo_nyt {
  width: 50px;
  height: 50px;
}
/*************** Menu ****************/
header {
  display: flex;
  max-width: 1675px;
  margin: 0px auto;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 100px;
  margin-left: 35px;
  margin-bottom: 10px;
}

nav {
  display: flex;
  align-items: flex-end;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 40px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  color: #103b73;
  font-weight: lighter;
  text-decoration: none;
  transition: color 0.3s;
  font-family: "Raleway", serif;
}

.menu a:hover {
  color: gray;
}
/* FOOTER */
footer {
  padding: 20px 20px;
  border-top: 1px solid#11468c;
  font-family: "Raleway", serif;
  color: #333333;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer_ikoner a {
  text-decoration: none;
}
/* BURGER-MENU */
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/* MOBILE SITE */
/* denne maxwidth dækker iphone og andre mindre skærme */
@media (max-width: 414px) {
  .tema_h2 {
    font-size: 30px;
    color: #e0e0e0;
    text-align: center;
    padding-top: 20px;
  }
  .container_tekst {
    text-align: center;
    color: #e0e0e0;
    padding: 15px;
    margin-top: 15px;
    background-color: #11468c;
  }
}
@media (max-width: 800px) {
  main {
    padding: 20px 20px; /* Mindre luft på siderne for små skærme */
  }
  .container_tekst {
    text-align: center;
    color: #e0e0e0;
    padding: 15px;
    margin-top: 15px;
    background-color: #11468c;
  }
  .tema_h2 {
    font-size: 30px;
    color: #e0e0e0;
    text-align: center;
    padding-top: 20px;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    border: #0d355d 2px;
  }
  .grid_1-1_løsning {
    display: grid;
    background-color: #e0e0e0;
    padding: 15px;
  }
  .grid_1-1-video {
    display: grid;
    place-items: center;
    background-color: #e0e0e0;
    padding: 20px;
    column-gap: 20px;
  }
  .grid_1-1_grå {
    display: grid;
    background-color: #e0e0e0;
    padding: 20px;
  }
  .tekst_p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333333;
  }

  .tekst_om {
    color: #e0e0e0;
    font-size: 50px;
  }
  /* TEMA 4 */
  .spil_prototype {
    text-align: center;
  }

  .temabeskrivelse {
    background-color: #11468c;
    color: #e0e0e0;
  }
  .cta_mobile {
    text-align: center;
  }
}

/* DESKTOP */
@media (min-width: 800px) {
  /* FORSIDE */
  .container_tekst {
    text-align: center;
    color: #333333;
  }

  .container_oversigt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .img_oversigt {
    border: 2px solid #11468c;
  }
  .tema_h2 {
    writing-mode: vertical-rl; /* Gør teksten lodret (top til bund) */
    font-size: 50px;
    color: #e0e0e0;
    text-align: center;
  }
  .temabeskrivelse {
    display: flex;
    background-color: #11468c;
    color: #e0e0e0;
  }
  hr {
    width: 33.3%; /* Bredde på streg */
    margin: 0 auto; /* Centrerer linjen */
    border: 1px solid #11468c;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .hr_h3 {
    margin: 0; /* Centrerer linjen */
    border: 1px solid #11468c;
    width: 25%;
    margin-bottom: 10px;
  }
  .hr_løsning {
    margin: 0; /* Centrerer linjen */
    width: 50%;
    margin-bottom: 10px;
    border: 1px solid #11468c;
  }

  .om_img {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Giver lidt afstand mellem elementerne */
  }

  .tekst_om {
    writing-mode: vertical-rl; /* Gør teksten lodret (top til bund) */
    font-size: 140px;
    text-align: right;
    color: #e0e0e0;
  }

  .container_om {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    column-gap: 20px;
  }
  .grid_1-1-video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: #e0e0e0;
    padding: 20px;
    column-gap: 20px;
  }

  .grid_1-1_grå {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e0e0e0;
    padding: 10px;
  }
  .grid_1-1_løsning {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-color: #e0e0e0;
    padding: 20px;
    margin-bottom: 10px;
  }
  .grid_1-1_løsning > div:last-child {
    display: flex; /* Brug flexbox til at centrere knappen i sin kolonne */
    justify-content: center; /* Centrerer horisontalt */
    align-items: center; /* Centrerer vertikalt (hvis nødvendigt) */
  }
  .tekst_p {
    font-size: 18px;
    margin-right: 30px;
    color: #333333;
    place-self: center;
  }
  .container_scroll {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e0e0e0;
  }

  .grid_1-1-1 {
    display: flex;
    flex-direction: row;
  }

  .container_styletiles {
    display: flex;
    gap: 15px;
    margin: 20px;
    justify-content: center;
  }

  .spil_prototype {
    text-align: center;
  }
}

/* FØLGENDE GÆLDER BÅDE FOR DESKTOP OG MOBIL LIGEYGLDIG SKÆRMSTØRRELSE */
.container_lottie > * {
  grid-column: 1;
  grid-row: 1;
}

.container_lottie {
  display: grid;
  place-items: center; /* Centrerer elementerne */
}

.container_lottie img {
  z-index: 0; /* Baggrundslaget */
}

.container_lottie #lottie {
  z-index: 1; /* Forgrundslaget */
}

.container {
  background-image: url(../billeder/baggrund3.webp);
  display: grid;
  justify-items: center;
  align-items: center;
  border-bottom: solid 1px #11468c;
}

.tema2 {
  display: grid;
  place-items: center;
  text-decoration: none;
  color: #333333;
  padding: 5px;
  transition: background-color 0.3s ease;
}
.tema2:hover {
  background-color: #11468cb9;
  color: #0d355d;
  transition: 0.3s;
}
.tema2 > * {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}
.divider_tekst {
  text-align: center;
  font-family: "Raleway", serif;
  color: #333333;
  font-weight: lighter;
  padding-top: 15px;
  padding-bottom: 15px;
}
.kontakt_baggrund {
  background-color: #e0e0e0;
}
.tekst_kompetencer {
  display: grid;
  grid-template-columns: 1fr;
}
.container_om_blå {
  background-color: #11468c;
  padding: 20px;
}
.kontakt {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.kontakt a {
  text-decoration: none;
}
.mig_om {
  padding-left: 20px;
  padding-right: 20px;
}
.tekst_temabeskrivelse {
  font-size: 18px;
  padding: 20px;
  place-self: center;
}

#myImage {
  cursor: pointer; /* Vis håndcursor for at indikere, at billedet kan klikkes */
}
.h4_om {
  color: #e0e0e0;
  font-weight: lighter;
}
div.scroll-container {
  background-color: #e0e0e0;
  overflow-x: auto; /* Horisontal scroll aktiveret */
  display: flex; /* Vis billederne i en horisontal række */
  gap: 10px; /* Afstand mellem billeder */
}
div.scroll-container img {
  padding: 10px;
}
.container_cta {
  display: flex;
  flex-direction: column; /* Sørger for, at børnene er stablet vertikalt */
  align-items: center; /* Centrerer børnene horisontalt */
}

.img_kode_t2 {
  border: #11468c solid 1px;
}

.liste_om {
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}
.liste_om li {
  font-family: "Lato", serif;
  font-weight: 350;
}
.liste_oplysninger {
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.liste_kompetencer li {
  margin-bottom: 25px; /* Giver luft mellem punkterne */
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 18px;
  color: #e0e0e0;
}
.liste_kompetencer p {
  margin: 5px 0 0; /* Giver lidt luft mellem teksten og datoen */
  font-size: 18px;
  color: black;
}
.liste_uddannelse li {
  margin-bottom: 20px; /* Giver luft mellem punkterne */
}
.liste_uddannelse p {
  margin: 5px 0 0; /* Giver lidt luft mellem teksten og datoen */
  font-size: 15px; /* Eksempel på mindre skriftstørrelse */
  color: #666; /* Eksempel på en grå tekstfarve */
}
figcaption {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #555; /* Grå tekstfarve for at fremhæve billedet mere */
  font-family: "Lato", serif;
}

.CTA {
  background-color: #11468c;
  border: solid 0.5px #11468c;
  padding: 20px 20px; /* Giver knappen indre afstand */
  color: #e0e0e0; /* Tekstfarve */
  text-decoration: none; /* Fjerner understregning */
  font-size: 16px; /* Størrelsen på teksten */
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  font-family: "Raleway", serif;
  margin-right: 10px;
}
.CTA:hover {
  background-color: #e0e0e0; /* Ændrer farven på baggrunden ved hover */
  color: #11468c; /* Ændrer tekstfarven ved hover */
  transition: 0.3s; /* Tilføjer en glidende effekt */
}
.container_cta_t1 {
  margin: 30px;
  text-align: center;
}

/* TEKST DIVIDER  */
.divider {
  text-align: center;
  height: 1px; /* Højden på stregen */
  margin: 10px 0; /* Luft omkring stregen */
  background-color: #11468c;
}
