/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
/*************** Menu ****************/

/* GENEREL STYLING PÅ ALLE SIDER */

/* background-color: #d9d2cc; */
/* padding: 20px; */

h1 {
  text-align: center;
  font-size: 150px;
  font-family: "Cormorant Garamond", serif;
  font-weight: lighter;
  color: rgb(51, 49, 49);
}

h2 {
  color: BLACK;
  font-size: 28px;
  font-family: "Raleway", serif;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  font-family: "Raleway", serif;
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 10px;
}

p {
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em;
  /* margin-right: 1.5rem; */
}
/* ryk evt. til layout.css */
/* FORSIDE */
.h2_forside {
  /* color: #d9d2cc; */
  color: #333333;
  text-align: center;
}

/* MOBILE SITE */
@media (max-width: 800px) {
  h1 {
    text-align: center;
    font-size: 45px;
    font-family: "Cormorant Garamond", serif;
    font-weight: lighter;
    color: #103b73;
  }

  .h1_forside {
    font-size: 75px;
  }

  h3 {
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
  }

  img {
    padding: 5px;
  }
}
