/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
/*************** Menu ****************/
/* HEADER */
header {
  display: flex;
  max-width: 1675px;
  margin: 0px auto;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  /* background-color: #d9d2cc; */
}

footer {
  padding: 2rem 2rem;
}
.logo img {
  width: 150px;
  height: 100px;
  margin-left: 35px;
  margin-bottom: 10px;
}

nav {
  display: flex;
  align-items: flex-end;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 40px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  /* padding: 20px;
  margin-right: 15px;
  margin-left: 15px; */
  color: #103b73;
  font-weight: lighter;
  text-decoration: none;
  transition: color 0.3s;
  /* text-align: end; */
  /* background-color: #d9d2cc; */
  font-family: "Raleway", serif;

  /* border: 2px solid #11468c; */
}

.menu a:hover {
  color: gray;
}
/* BURGER-MENU */
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/* GENEREL STYLING PÅ ALLE SIDER */
body {
  /* background-color: #d9d2cc; */
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 150px;
  font-family: "Cormorant Garamond", serif;
  font-weight: lighter;
  color: rgb(51, 49, 49);
}

h2 {
  color: BLACK;
  font-size: 28px;
  font-family: "Raleway", serif;
  font-weight: 200;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 20px;
}

p {
  font-family: "Lato", serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em;
}

/* FORSIDE */
.h2_forside {
  color: #d9d2cc;
  text-align: center;
}

/* MOBILE SITE */
@media (max-width: 800px) {
  h1 {
    text-align: center;
    font-size: 100px;
    font-family: "Yanone Kaffeesatz", serif;
    font-weight: lighter;
    color: #103b73;
  }

  img {
    padding: 5px;
  }
}
